html {
    height: 100%;
    font-family: 'calibri';
    text-align: center;
}


a, a:visited {
  text-decoration: none!important;
}


/***********************************
ERROR PAGE
***********************************/

.errorh1 {
  font-size: 8em;
  color: #c0392b;
  -webkit-margin-after: 0.1em;
}

.homebtn {
  background-color: #eb1b74;
  border: none;
  border-radius: 5px;
  color: white;
  width: 10%;
  padding: 10px;
  margin: 2em auto;
  font-weight: 300;
  font-size: 12pt;
  -webkit-appearance: none!important;
  -webkit-appearance: none;
  text-align: center;
}

/***********************************
MAIN PAGE
***********************************/

.header {
  font-size: 5em;
  color: #2c3e50;
  -webkit-margin-after: 0.1em;
  font-family: 'Copperplate';
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 5em auto 2em;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e67e22;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #d35400;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/******************
DISPLAY TABLE
******************/

table {
    border: 0.5px solid #333;
    width: 50%;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

th, td {
  border: 0.5px solid #333;
  padding: 10px;
}

/************
CREATE FORM
*************/

.createnew {
  margin-top: 3em;
}

.createnew input {
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 7px;
  width: 30%;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 6px;
}

.createnew button {
  background-color: #eb1b74;
  border: none;
  border-radius: 5px;
  color: white;
  width: 10%;
  font-weight: 300;
  padding: 9px;
  -webkit-appearance: none!important;
  -webkit-appearance: none;
  text-align: center;
  cursor: pointer;
}
